{
  "extends": ["node"],
  "plugins": ["import"],
  "rules": {
    "no-console": 0,
    "import/prefer-default-export": 0,
    "import/no-namespace": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
